* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: white;
  margin-top: 30px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background: #D79922;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.project-link {
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.row {
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-6, 
.col-4, 
.col-12 {
	float: left;
	padding-left: 1.0416666%;
	padding-right: 1.0416666%;
	width: 100%;
  margin-top: 15px;
}

@media only screen and (min-width: 640px) {
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
  .col-12 {
    width: 100%;
  }
  #div1 header,
  #div2 header,
  #div6 header {
  margin-top: 125px;
}
}

header h1, h2 {
  text-align: left;
}

header h1 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.right-arrow-icon {
  position: fixed;
  right: 0;
  top: 50%;
}

.left-arrow-icon {
  position: fixed;
  left: 0;
  top: 50%;
}

.left-arrow-icon,
.right-arrow-icon {
  cursor: pointer;
}

#logos {
  margin-top: 30px;
  margin-bottom: 30px;
}

#logos img {
  height: 75px;
  margin-right: 25px;
}

.screenshot {
  width: 100%;
  border: 1px solid black;
}

.project-header {
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.project-text {
  text-align: right;
}

.built-with-text {
  text-transform: uppercase;
  font-weight: 600;
}

.red {
  color: #F13C20;
}

#div6 a:hover {
  color: black;
}

#div6 header {
  margin-bottom: 25px;
}

#content {
  margin-bottom: 100px;
}

#div1,
#div2 {
  max-width: 1000px;
  margin-left: 0;
} 

.project-link {
  display: block;
}

.project-link a:hover,
.project-header a:hover {
  color: black;
}

.name {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}

.blue {
  color: #4056A1;
}

.white-hover:hover {
  color: white;
}